/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  font: inherit;
  border: inherit;
}

button {
  white-space: nowrap;
}

/* VARIABLES */
:root {
  /* colors */
  --TEXT-COLOR: #0e0610;
  --BG-COLOR: #faf6fc;
  --PRIMARY-COLOR: #a04bbc;
  --SECONDARY-COLOR: #d69f92;
  --ACCENT-COLOR: #caa870;
}

/* GENERAL */

body {
  background-color: var(--BG-COLOR);
  min-height: 140vh;
  padding: 1rem;
  overflow-x: hidden;
}

body h2 {
  color: var(--PRIMARY-COLOR);
}

:focus {
  outline: solid 1px var(--PRIMARY-COLOR);
}

/* UTILITIES */

.warning {
  color: var(--PRIMARY-COLOR);
  text-align: center;
  margin: 1rem;
}

/* HEADER */

header {
  padding: .4rem;
  box-shadow: 0px 1px 5px -4px var(--TEXT-COLOR);
  display: flex;
  flex-direction: column;
}

header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--PRIMARY-COLOR);
  margin: 0 .4rem;
}

nav>a {
  text-decoration: none;
  color: var(--PRIMARY-COLOR);
  margin-right: 2vh;
  display: inline-block;
  min-width: 2rem;
  padding: 0 4px;
  border: 2px solid transparent;
  border-radius: 3px;
}

nav>a:hover {
  border: solid 2px var(--PRIMARY-COLOR)
}

/* AddLink */

.addLink_form {
  display: flex;
  margin: .4rem 0 0 .4rem;
}

.addLink_input {
  min-width: 80px;
  border-radius: 4px;
  border: solid 1px var(--ACCENT-COLOR);
  padding: 0 .5rem;
  margin: .2rem;
  flex-grow: 1;
  flex-shrink: 1;
  cursor: pointer;
}

/*
.container input:checked~.checkmark {
  background-color: #2196F3;
} */


.addLink_input:first-child {
  flex-basis: 100px;
}

.addLink_input:nth-child(2) {
  flex-basis: 800px;
}

.addLink_input:nth-child(3) {
  flex-basis: 100px;
  min-width: 12ch;

}


.addLink_button {
  padding: 0 .4rem;
  margin: .2rem;
  border-radius: 4px;
  border: solid 2px var(--PRIMARY-COLOR);
  transition: all .1s;
  background-color: var(--BG-COLOR);
}

.addLink_button:hover,
.addLink_button:focus {
  color: var(--BG-COLOR);
  background-color: var(--PRIMARY-COLOR);
  transition: all .1s;
}

.addLink_button:active {
  background-color: var(--ACCENT-COLOR);
  transition: all .1s;
}

/* LINKS */

.links {
  display: grid;
  gap: 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

/* LINK-CONTAINER */

.links>.list-container {
  padding: 1rem;
  border-radius: 4px;
}

.list-container:nth-child(1) {
  background-color: #ca70c27b;
}

.list-container:nth-child(2) {
  background-color: #c5ca707b;
}

.list-container:nth-child(3) {
  background-color: #7088ca7b;
}

.list-container:nth-child(4) {
  background-color: #70caaf7b;
}

.list-container>p {
  background-color: var(--PRIMARY-COLOR);
  color: var(--BG-COLOR);
  border-radius: 4px;
  text-align: center;
}

.list-container li {
  padding: 0 .2rem;
}

.list-container li:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-container li:nth-last-child(1) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list-container li:nth-of-type(odd) {
  background-color: #faf6fc9b
}

.list-container li:nth-of-type(even) {
  background-color: #caa7709b;
}

.list-container a {
  text-decoration: none;
  color: var(--TEXT-COLOR);
}

.list-container a:hover,
.list-container a:focus {
  color: var(--PRIMARY-COLOR);
}

.list-container li:active {
  opacity: .5;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

i {
  color: var(--PRIMARY-COLOR);
}

.deleteButton {
  padding: 3px;
  border: none;
  background: none;
}

/* NOTES */

.notes {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  height: 50vh;
}

.notes_header {
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: rgb(235, 225, 225);
  border-radius: 4px;
  width: 6.5rem;
}

.notes_header>nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.notes_content {
  border-radius: 4px;
  width: 100%;
  height: inherit;
  min-height: 50vh;
  padding: 1rem;
  background-color: rgb(225, 225, 235);
  ;
  color: #421751;
}

.notes_content>li {
  border-bottom: solid 1px #a04bbc;
  padding: .2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes_content>li>p {
  margin: 0;
}

.notes_content>li>button {
  display: flex;
  align-items: center;
}


/* FOOTER */

footer {
  text-align: center;
  background-color: var(--TEXT-COLOR);
  color: var(--BG-COLOR);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* responsiveness */

@media (width <=40rem) {
  .links {
    grid-template-columns: 1fr;
  }

  .list-container {
    min-height: 20vh;
  }

  .notes {
    min-height: 80vh;
    flex-direction: column;
  }

  .notes_header {
    width: 100%;
    height: min-content;
    padding-block: 1.3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .notes_header > h2 {
    transform: rotateZ(90deg) translateX(5px);
    z-index: 10;
  }

  .notes_content {
    min-height: 60vh;
  }

}

@media (40rem < width <= 80rem) {
  .links {
    grid-template-columns: repeat(2, 1fr);
  }

  .list-container {
    min-height: 40vh;
  }
}


@media (80rem < width) {
  .links {
    grid-template-columns: repeat(4, 1fr);
  }

.list-container {
  min-height: 41vh;
}

}